
.clearfix{
    clear: both;
}

.pro-div {
    float: left;
    width:208px;
    border: 3px solid lightgray;
    margin-left: 30px;
    margin-bottom: 30px;

}

.pro-img {
    width: 200px;
    height: 250px;
    margin: 2px;
    padding:2px;

}

h2 {
    margin-bottom: 40px;
    margin-left: 30px;
}

.p-one {
    margin-left: 5px;
    color: grey;
}


.heart {
    width: 35px;
    border: 2px lightblue solid;
    background-color: white;
    padding: 4px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.add-to-cart {
    border: 2px lightblue solid;
    width: 160px;
    background-color: lightblue;
    padding: 4px;
    margin-bottom: 3px;
    margin-left: 3px;

}

.span-cart {
    color: white;
}

.icon-one {
    width: 20px;
    margin-right: 5px;
    color: white;
}

.icon-two {
    width: 20px;
    color: lightblue;


}

.price-one{
    margin-left: 5px;
    color: green;
}

.price-two{

    color: red;
    font-size: 13px;
}

h4{
    margin-top: 10px;
    margin-left: 5px;
}
